:root {
  line-height: 1.5;
  color: rgb(33, 53, 71);
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button:hover {
  border-color: #646cff;
}